/* GENERAL */

.container {
  max-width: 1130px ;
  margin: 0 auto
}

body {
  font-family: 'Trip Sans', sans-serif;
}

* {
  box-sizing: content-box;
}

/* -- HEADER ----------------------- */
header {
  width: 100vw;
  position: fixed;
  background-color: #fff;
  z-index: 1;
  left: 0;
  right: 0;
}

header .container {
  display: flex;
  padding: 10px;
}

.logo {
  width: 188px;
  height:fit-content;
  margin-right: 28px;
}

.searchbar {
  width: 342px;
  height: 38px;
  border: solid 2px #EBD3D3;
  border-radius: 20px;
  margin-right: 32px;
}

.loupe {
  width: 18px;
  height: 18px;
  margin: 10px 13px
}

header .container ul {
  width: 550px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* border: solid black 1px; */
}

header li img {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

header li {
  display: flex;
  padding: 10px;
  align-items:center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}

header li:hover{
  
  background-color: #EDEDED;
  border-radius: 20px;

}

header ul .connection {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: black;
  border-radius: 20px;
}

header ul .connection:hover {
  background-color: #333333;
}

/* -- MAIN ------------------------ */

main .container {
  padding-top: 40px;
}
main h1 {
  font-size: 54px;
  margin-top: 43px;
  font-weight: bold;
  margin-bottom: 18px;
  margin-right: 14px;
}

main .title {
  display: flex;
}

main h1:first-child {
  color: #E85B5A;
}
main h1:first-child:hover {
  color: #E85B5A;
  text-decoration: underline;
}
main h1:last-child:hover {
  color: #000;
  text-decoration: underline;
}

main .container > p {
  font-size: 14px;
  color: #333333;
  margin-bottom: 34px;
}

main nav, main nav div {
  display: flex;
  justify-content: space-between;
}

main nav div {
  flex: 1;
  border: #000 1px solid;
  padding: 11px 16px;
  border-radius: 10px;
  align-items: center;
  margin-bottom: 24px;
}

main nav div:not(:last-child) {
  margin-right: 10px;
}

main nav div:hover {
  background-color: #000;
  color: #fff;
}

main nav div p {
  font-weight: bold;
}

/* Images Block */

.imagesBlock/*:not(:last-child)*/{
  height: 430px;
  /* border: 1px solid black; */
  display: flex;
  gap: 2px;
  margin-bottom: 22px;
  position: relative;
  
}

.imagesBlock > img {
  height: 100%;
  flex: 1;
}

.imagesBlock div {
  height: 100%;
  width: 480px;
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.imagesBlock div img {
  height: calc((100% - 2px) / 2);
  object-fit: cover;
}

img.travellersChoice {
  width: 59px;
  height: 70px;
  background-color: gold;
  position: absolute;
  left: 20px;
}

.subtitle, .subtitle p {
  display: flex;
  justify-content: space-between;
  font-size: 12px;
  color: #333333;
}

.subtitle ul {
  display: flex;
  gap: 7px;
}

/* Intro block */
.introduction {
  margin-top: 38px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 74px;
}
.introduction div:first-child {
  width: 50%;
}
.introduction div:first-child > p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 20px;
  line-height: 18pt;
}
.introduction div:last-child {
  width: 400px;
  height: 180px;
  background-color: #E85B5A;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  padding-left: 25px;
  padding-top: 28px;
  padding-right: 35px;
  padding-bottom: 23px;
}

h2 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}
h3 {
  font-size: 25px;
  font-weight: bold;
  line-height: 25pt;
  margin-bottom: 13px;
}

button {
  margin-top: 21px;
  height: 42px;
  width: 116px;
  background-color: #333333;
  border-radius: 16px;
  color: #fff;
  border-style: none;
}

.introduction div:last-child img {
  width: 461px;
  height: 162px;
  object-fit: cover;
  margin-left: -26px;
  margin-top: 23px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.entretainment {
  /* border: #000 1px solid; */
  display: flex;
  /* background-color: yellow; */
  width: 100%;
}

.texte {
  /* border: red 1px solid; */
  width: 25%;
}


.entretainment > div:last-child {
  /* border: blue 1px solid; */
  width: 75%;
  display: flex;
  gap: 16px;
  overflow: hidden;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.entretainment > div:last-child::-webkit-scrollbar{
  display: none;
}
.entretainment > div:last-child img {
  /* border: green 1px solid; */
  object-fit: cover;
  height: 200px;
  display: block;
}

.texte p {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 18px;
  margin-bottom: 10px;
  margin-top: 5px;
  margin-right: 66px;
  line-height: 17pt;
}

.texte a {
  color: #333333;
  font-weight: bold;
}

h4 {
  font-weight:700;
  font-size: 18px;
}
.columns p {
  font-size: 14px;
  line-height: 15pt;
  color: #333333;
}
.columns {
  display: flex;
  flex-direction: column;
  gap: 10px;
}



/* -- FOOTER ---------------------- */



/* -- MEDIA QUERIES -- */

@media (max-width: 1020px) {
  header .container ul li:not(img) {
    display: none;
  }
}