/* GENERAL */
.container {
  width: 1136px ;
  margin: 0 auto
}

body {
  font-family: 'Trip Sans', sans-serif;
}



/* -- HEADER ----------------------- */

header .container {
  display: flex;
  /* border: solid 1px black; */
  padding: 10px;
}


.logo {
  width: 188px;
  height:fit-content;
  margin-right: 28px;
}

.searchbar {
  width: 342px;
  height: 38px;
  border: solid 2px #EBD3D3;
  border-radius: 20px;
  margin-right: 32px;
}

.loupe {
  width: 18px;
  height: 18px;
  margin: 10px 13px
}

.container ul {
  width: 550px;
  align-items: center;
  display: flex;
  justify-content: space-between;
  /* border: solid black 1px; */
}

header li img {
  width: 19px;
  height: 19px;
  margin-right: 5px;
}

header li {
  display: flex;
  padding: 10px;
  align-items:center;
  justify-content: center;
  font-weight: bold;
  font-size: 16px;
}


header li:hover{
  
  background-color: #EDEDED;
  border-radius: 20px;
  text-decoration: underline;

}

header ul .connection {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: black;
  border-radius: 20px;
}

header ul .connection:hover {
  background-color: #333333;
}

/* -- MAIN ------------------------ */


/* -- FOOTER ---------------------- */